/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}

/* 검색 입력창과 버튼 스타일 */
input, button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input {
  width: 300px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

/* 검색 결과 스타일 */
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.lego-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.lego-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.lego-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.lego-card p {
  font-size: 14px;
  color: #555;
}

#nextPageButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#nextPageButton:hover {
  background-color: #0056b3;
}
